<h1>New Posts</h1>

<% @post.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>


<%= simple_form_for @post do |f| %>
  <%= f.input :title, placeholder: "Let's talk buddy..."%>
  <%= f.input :body, hint: "Whatever you want write it here.." %>
  <%= f.input :category, priority: ["Coding"], collection: ["Science","Food","Sports","Books","Coding"] %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


<!-- Regular form_for -->
<!-- <%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.select(:category) do %>
    <% [['Science', 'Science'], ['Food', 'Food'], ['Sports', 'Sports'],['Books','Books']].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %> -->
