<h1>New Posts</h1>

<% @post.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>


<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.select(:category) do %>
    <% [['Science', 'Science'], ['Food', 'Food'], ['Sports', 'Sports'],['Books','Books']].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
